html, body {
    background-color: #ffffff;
    font-size: 1em;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    letter-spacing: 0.1em;
}

.menucontainer {
    max-width: 38em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.menu-item {
    max-width: 50em;
    border-radius: 3px;
    padding: 0.5em;
    margin: 0 1.5em 0.5em 1.5em;
    font-size: 1.5em;
    border: 0.1em solid #d9d9d9 !important;
    color: #434343;
}

.menu-item-scnd-level {
    font-size: 1.1em;
    margin: 0.2em 3.5em;
    padding: 0.8em;
}

.menu-item:hover {
    cursor: pointer;
    color: #ffffff !important;
    font-color: #ffffff;
    background: #bfbfbf;
    border-color: #bfbfbf !important;
    transition: all 0.2s ease 0s;
}

.logocontainer {
    height: 7em;
    width: 100%;
    margin-bottom: 2%;
}

.logocontainer img {
    max-height: 100%;
    max-width: 85%;
    display: block;
    margin: auto;
}
